<form ng-submit="supsEditCtrl.saveSup()">
    <div class="form-group">
        <label>
            Sup text
        </label>
        <textarea 
            ng-model="supsEditCtrl.editedSup.text"
            class="form-control"
        ></textarea>
    </div>
    <button
        class="btn btn-primary"
        type="submit"
        ng-disabled="!supsEditCtrl.editedSup.text"
    >
        Save sup
    </button>
    <button
        class="btn btn-danger"
        type="button"
        ng-show="supsEditCtrl.cancel"
        ng-click="supsEditCtrl.cancel()"
    >
        Cancel
    </button>
</form>