<form ng-submit="supsEditCtrl.saveSup()">
    <div class="form-group">
        <label>
            Sup text
        </label>
        <textarea 
            ng-model="supsEditCtrl.editedSup.text"
            class="form-control"
        ></textarea>
        <div class="button" ngf-select ng-model="supsEditCtrl.file" name="file" ngf-pattern="'image/*'"
          ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" 
          ngf-resize="{width: 100, height: 100}">Select</div>
    </div>
     <img ng-show="supsEditCtrl.file" ngf-thumbnail="supsEditCtrl.file">
    <button
        class="btn btn-primary"
        type="submit"
        ng-disabled="!supsEditCtrl.editedSup.text"
    >
        Save sup
    </button>
    <button
        class="btn btn-danger"
        type="button"
        ng-show="supsEditCtrl.cancel"
        ng-click="supsEditCtrl.cancel()"
    >
        Cancel
    </button>
</form>